mixin Link(text, path= '#')
    a(href= path)= text


mixin Card(title, descr, link, linkText)
    .card
        h1.card_title= title
        p.card_description= description
        a(href=link)= linkText 
        +Link(linkText)